.card {
  width: 600px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  width: 100%;
  border-radius: 10px;
}

ul {
  text-align: left;
  padding-left: 30px;
  
}
