.socials{

   display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 36px 57px 41px 57px;
    border: 3px solid #1ED760;
    border-radius: 65px;
    max-width: 446px;
    max-height: 175px;
    gap: 16px;
    margin: 0 auto;

}

/* .socials:hover{
    border-color: #1181F1;
} */

@media (max-width: 768px){

    .socials{
        gap:10px;
        padding:12px 18px;
        border-radius: 35px;
        
    }
}

