.container {
  flex-grow: 1;
  width: 100%;
  
}

.title {
  font-size: clamp(20px, 3.5vw, 28px);
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 260px), 1fr));
  gap: 20px;
}

.card {
  background: rgba(255, 255, 255, 0.4);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(5px); /* Легкий эффект размытия фонового стекла */
}

.cardTitle {
  font-size: clamp(10px, 2.2vw, 18px);
  margin-bottom: 12px;
}

.linkButton {
  align-self: flex-start;
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.linkButton:hover {
  background-color: #0056b3;
}