.socialLink{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink: 0;
    transition: transform 0.2s ease;
    position: relative;
}

.socialLink:nth-child(-n + 2){
  max-width: 97px;
  max-height: 98px;
}
.socialLink:nth-child(3){
   max-width: 105.92px;
 max-height: 98.12px;
}


.icon {
  display: block;
}


@media (max-width: 768px){

    .icon{
    /* width: 60%; */
    width: 60px;
    height: 58px;
   
}

}

